---

---
<html>

<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.0.0.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script>
    function expandAll() {
      $(".collapsible-header").addClass("active");
      $(".collapsible").collapsible({
        accordion: false
      });
    }

    function collapseAll() {
      $(".collapsible-header").removeClass(function() {
        return "active";
      });
      $(".collapsible").collapsible({
        accordion: true
      });
      $(".collapsible").collapsible({
        accordion: false
      });
    }
  </script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>

<body>


  <div class="container">
    <br />
    <br />
    <a class="waves-effect waves-light btn" onClick="expandAll();"><i class="material-icons left">fullscreen</i>Expand All</a>
    <a class="waves-effect waves-light btn" onClick="collapseAll();"><i class="material-icons left">fullscreen_exit</i>Collapse All</a>
    <br />
    <br />
    <ul class="collapsible" data-collapsible="expandable">
      {% include notifications.html %}
      {% include language.html %}
      {% include branches.html %}
      {% include services.html %}
      {% include addons.html %}
      {% include cache.html %}
      {% include before_install.html %}
      {% include install.html %}
      {% include before_script.html %}
      {% include script.html %}
      {% include before_cache.html %}
      {% include after_success.html %}
      {% include after_script.html %}
      {% include before_deploy.html %}
      {% include deploy.html %}
      {% include after_deploy.html %}
    </ul>

  </div>

</body>
