<li>
  <div class="collapsible-header"><i class="mdi-navigation-chevron-right"></i>
    <h5 id="_optional_installaddons"><code>addons</code></h5>
  </div>
  <div class="collapsible-body">
    <h5 style="text-decoration: underline"><code>addons</code> TL;DR</h5>
      <p>Include 'addons' that are dependencies for your project. <strong>Optional.</strong>
    <h5 style="text-decoration: underline">What are <code>addons</code>?</h5>
      <p>text about what this is</p>
      <p>For more information on language, see <a href="https://docs.travis-ci.com/user/getting-started/">the detailed documentation</a>.
    <h5 style="text-decoration: underline">When are <code>addons</code> necessary?</h5>
      <p>text about when to use this</p>
    <h5 style="text-decoration: underline"><code>addons</code> examples</h5>
      <pre><code>
      language: ruby
      </pre></code>
  </div>
</li>
