<li>
  <div class="collapsible-header"><i class="mdi-navigation-chevron-right"></i>
    <h5><code>before_script</code></h5>
  </div>
  <div class="collapsible-body">
    <h5 style="text-decoration: underline">What is <code>cache</code>?</h5>
      <p>Explanation of WHAT</p>
      <p>For more information on caching, see <a href="https://docs.travis-ci.com/user/caching">the detailed documentation</a>.
    <h5 style="text-decoration: underline">When is <code>cache</code> necessary?</h5>
      <p>text text text</p>
    <h5 style="text-decoration: underline"><code>cache</code> examples</h5>
      <pre><code>
      cache:
        bundler: true
        directories:
          - node_modules # NPM packages
      </pre></code>
</li>
