<li>
  <div class="collapsible-header"><i class="mdi-toggle-star-outline"></i>
    <h5><code>before_install</code></h5>
  </div>
  <div class="collapsible-body">
    <h5 style="text-decoration: underline"><code>before_install</code> TL;DR</h5>
      <p>These are steps you want completed before the environment is installed on Travis' container. <strong>Optional.</strong>
    <h5 style="text-decoration: underline">What is <code>before_install</code>?</h5>
      <p>text about what this is</p>
      <p>For more information on language, see <a href="https://docs.travis-ci.com/user/getting-started/">the detailed documentation</a>.
    <h5 style="text-decoration: underline">When is <code>before_install</code> necessary?</h5>
      <p>text about when to use this</p>
    <h5 style="text-decoration: underline"><code>before_install</code> examples</h5>
      <pre><code>
      language: ruby
      </pre></code>
</li>
