<li class="star-outline">
  <div class="collapsible-header"><i class="mdi-toggle-star-outline"></i>
    <h5><code>services</code></h5>
  </div>
  <div class="collapsible-body">
    <h5 style="text-decoration: underline"><code>services</code> TL;DR</h5>
      <p>Some external services, like databases, won't start by default. Use <code>services</code> to change that. <strong>Optional</strong>.
    <h5 style="text-decoration: underline">What are <code>services</code>?</h5>
      <p>Travis CI environments do not start services by default, to make more RAM available to build scripts. Start services by adding them to the <code>services:</code> section of your <code>.travis.yml</code>.
      <br><br>
      Some examples of services are MYSQL, MongoDB, and ElasticSearch.
      <br><br>
      For more information on services, see <a href="https://docs.travis-ci.com/user/database-setup/">the detailed documentation</a>.
    <h5 style="text-decoration: underline">When are <code>services</code> necessary?</h5>
      <p>You'd want to use this section in your <code>travis.yml</code> file if have services integrated with your code that require testing.</p>
    <h5 style="text-decoration: underline"><code>services</code> examples</h5>
      <pre><code>
        services:
          - riak
          - rabbitmq
          - memcached
      </pre></code>
</li>
